.quill {
  background: white;
}

.ql-container {
  font-family: 'Nanum' !important;
  height: 400px;
}

.post_button {
  height: 40px;
  width: 80px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: none;
  border-style: none;
  border: 1px solid #eee;
  background-color: #ccc;
}